/* Menu */

#menu {
	float: left;
	height: 50px; width: 980px;
	margin: 0px 0px 0px 0px;
	background: url(../images/icons/menu.png) no-repeat;}
#menu li {
	margin: 0px; padding: 0px; list-style: none; float: left;}
#menu li, #menu a {
	height: 50px; display: block;}

/* Menu - Signed in */

#menu-login {
	float: left;
	height: 50px; width: 980px;
	margin: 0px 0px 0px 0px;
	background: url(../images/icons/menu-user.png) no-repeat;}
#menu-login li {
	margin: 0px; padding: 0px; list-style: none; float: left;}
#menu-login li, #menu-login a {
	height: 50px; display: block;}
	
#index {margin: 0px 0px 0px 10px; width: 180px;}
#feed {width: 90px;}
#profile {width: 100px;}
#create {width: 120px;}
#space {width: 400px;}
#long-space {width: 620px;}
#login {margin: 0px 10px 0px 0px; width: 80px;}
#logout {margin: 0px 10px 0px 0px; width: 80px;}
	
#index a {margin: 0px 0px 0px 10px; width: 170px;}
#feed a {width: 90px;}
#profile a {width: 100px;}
#create a {width: 120px;}
#space a {width: 400px;}
#login a {margin: 0px 10px 0px 0px; width: 80px;}
#logout a {margin: 0px 10px 0px 0px; width: 80px;}

#index a:hover {
    background: -10px 0px transparent url(../images/icons/menu-user-hover.png) no-repeat;}
#feed a:hover {
    background: -180px 0px transparent url(../images/icons/menu-user-hover.png) no-repeat;}
#profile a:hover {
    background: -270px 0px transparent url(../images/icons/menu-user-hover.png) no-repeat;}
#create a:hover {
    background: -370px 0px transparent url(../images/icons/menu-user-hover.png) no-repeat;}
#logout a:hover {
    background: -890px 0px transparent url(../images/icons/menu-user-hover.png) no-repeat;}
#login a:hover {
    background: -890px 0px transparent url(../images/icons/menu-hover.png) no-repeat;}

#index a:active {
    background: -10px 0px transparent url(../images/icons/menu-user-active.png) no-repeat;}
#feed a:active {
    background: -180px 0px transparent url(../images/icons/menu-user-active.png) no-repeat;}
#profile a:active {
    background: -270px 0px transparent url(../images/icons/menu-user-active.png) no-repeat;}
#create a:active {
    background: -370px 0px transparent url(../images/icons/menu-user-active.png) no-repeat;}
#logout a:active {
    background: -890px 0px transparent url(../images/icons/menu-user-active.png) no-repeat;}
#login a:active {
	background: -890px 0px transparent url(../images/icons/menu-active.png) no-repeat;}
/* Footer */

.footer-title {width: 300px; margin: 0px 0px 10px 0px; color: #ababab;}

#footer {
	float: left;
	width: 960px; height: 110px;
	margin: 20px 10px 0px 10px;
	border-top: 1px solid #ababab;
	font-family: helvetica; font-size: 12px; font-weight: 100;
	padding: 10px 0px 0px 0px;}
	
#footer li {
	width: 100px; margin: 0px; padding: 0px; list-style: none; float: left;}
#footer a {text-decoration: none;}
#footer div {float: left; width: 300px; padding: 0px 0px 0px 0px;}

#languages {margin: 0px 10px 0px 10px;}
#copyright {margin: 0px 10px 0px 10px; color: #ffffff;}
#links {margin: 0px 10px 0px 10px;}

#languages a {color: #ffffff;}
#links a {color: #ffffff;}
	
#languages a:hover {color: #68a1d2;}
#links a:hover {color: #ec3838;}

/* Pagination */
.navigation {
	float: left;
	height: 20px; width: 940px;
	margin: 10px 10px 10px 10px; padding: 0px;}

.pagination {
	float: left;
	height: 16px; 
	-moz-border-radius: 9px; border-radius: 9px;
	background-color: #d3d3d3;
	opacity:0.6;filter: alpha(opacity=60);
	-moz-box-shadow: 1px 1px 1px #fff; -webkit-box-shadow: 1px 1px 1px #fff; box-shadow: 1px 1px 1px #fff;
	-moz-box-shadow: inset 0px 0px 2px #383838; -webkit-box-shadow: inset 0px 0px 2px #383838; box-shadow: inset 0px 0px 2px #383838;
	font-family: helvetica; font-size: 12px; font-weight: 100;
	margin: 0px 10px 0px 10px; padding: 2px;}

.pagination .next_page, .previous_page {
	float: left;
	height: 12px;
	padding: 1px 5px 1px 5px;}

.pagination a {
	float: left;
	text-decoration: none;
	height: 12px;
	color: #383838;
	padding: 1px 5px 1px 5px;}

.pagination em {
	float: left;
	height: 12px;
	padding: 1px 5px 1px 5px;}
