/* General elements */

ul {
	list-style-type: none;
	padding: 0; margin: 0;}

h1 {
	margin: 70px auto auto 50px;

	font-size: 60px; font-weight: 100;
	font-family: helvetica neue; color: #606060;
	text-shadow: 0px 1px 1px white, 0px 0px #383838;}

body {
	background-image: url(../images/background.png);
	margin: 0px;}

#container {
	width: 980px;
	margin: 0px auto 0px auto;}
	
#content-border {
	float: left;
	width: 960px; height: auto;
	margin: 0px 10px 0px 10px;}	

.content-divider {
	float: left;
	width: 940px; height: 12px;
	margin: 20px 0px 20px 0px;
	border-bottom: 1px solid #ababab; 
	font-family: helvetica; font-size: 12px; font-weight: 100; color: #ababab;
	padding: 0px 10px 5px 10px;}


#static-border {
	float: left;
	width: 960px;
	margin: 30px 10px 60px 10px;
	padding: 0px;
	background-color: #fff;
	
	-moz-border-radius: 10px; border-radius: 10px;
	-moz-box-shadow: 0px 0px 10px #252525;
	-webkit-box-shadow: 0px 0px 10px #252525;
	box-shadow: 0px 0px 10px #252525;}

#static-head {
	float: left;
	width: 940px; height: 140px;
	padding: 10px 10px 10px 10px;
	background-color: #d3d3d3;

	-moz-border-radius: 10px 10px 0px 0px; 
	border-radius: 10px 10px 0px 0px;}	

#static-mid {
	width: 960px; font-family: helvetica neue;
	padding: 10px 0px 10px 0px;}	

.column-onethird {
	float: left; width: 300px; height: 100%; font-weight: 200;
	font-size: 16px; margin: 10px 10px 10px 10px;}
.column-onethird-italic {
	float: left; width: 300px; height: 100%; margin: 10px 10px 10px 10px;
	font-size: 36px; font-style: italic; font-weight: 100;}
.column-onethird-headline {
	float: left; width: 300px; height: 40px; font-weight: 100;
	font-size: 40px; margin: 10px 10px 10px 10px;}

#static-tail {
	float: left;
	width: 940px; height: 30px;
	padding: 10px 10px 10px 10px;
	background-color: #d3d3d3;

	-moz-border-radius: 0px 0px 10px 10px; 
	border-radius: 0px 0px 10px 10px;}	

/* Post-menu */

#post-menu {
	float: left;
	width: 27px; height: 200px;
	margin: 0px 0px 0px -37px; padding: 30px 0px 0px 10px;}
#post-menu li {
	margin: 0; padding: 0; list-style: none;}
#post-menu li, #post-menu a {
	height: 50px; display: block;}

#photo {background: 0px 0px url(../images/icons/icons.png) no-repeat;}
#post {background: -26px 0px url(../images/icons/icons.png) no-repeat;}
#comment {background: -75px 0px url(../images/icons/icons.png) no-repeat;}
#location {background: -49px 0px url(../images/icons/icons.png) no-repeat;}

#photo a:hover {
    background: 0px 0px transparent url(../images/icons/icons-hover.png) no-repeat;}
#post a:hover {
    background: -26px 0px transparent url(../images/icons/icons-hover.png) no-repeat;}
#comment a:hover {
    background: -75px 0px transparent url(../images/icons/icons-hover.png) no-repeat;}
#location a:hover {
    background: -49px 0px transparent url(../images/icons/icons-hover.png) no-repeat;}

/* User-menu */

#user-menu {
	float: left;
	width: 27px; height: 200px;
	margin: 0px 0px 0px -37px; padding: 30px 0px 0px 10px;}
#user-menu li {
	margin: 0; padding: 0; list-style: none;}
#user-menu li, #user-menu a {
	height: 50px; display: block;}
	
#user-photo {background: 0px 0px url(../images/icons/user-icons.png) no-repeat;}
#user-info {background: -26px 0px url(../images/icons/user-icons.png) no-repeat;}
#user-location {background: -49px 0px url(../images/icons/user-icons.png) no-repeat;}
#user-feed {background: -75px 0px url(../images/icons/user-icons.png) no-repeat;}

#user-photo a:hover {
    background: 0px 0px transparent url(../images/icons/user-icons-hover.png) no-repeat;}
#user-info a:hover {
    background: -26px 0px transparent url(../images/icons/user-icons-hover.png) no-repeat;}
#user-location a:hover {
    background: -49px 0px transparent url(../images/icons/user-icons-hover.png) no-repeat;}
#user-feed a:hover {
	background: -75px 0px transparent url(../images/icons/user-icons-hover.png) no-repeat;}

/* User */

.user-border {
	float: left;}

.user-frame-small {
	float: left;
	height: 200px; width: 150px;
	margin: 110px 85px 110px 85px;
	font-family: helvetica; color: #ebebeb;

	-moz-box-shadow: 0px 0px 10px #252525;
	-webkit-box-shadow: 0px 0px 10px #252525;
	box-shadow: 0px 0px 10px #252525;}

.user-frame {
	float: left;
	height: 400px; width: 300px;
	margin: 10px 10px 10px 10px;
	background-color: #f5f5f5;
	font-family: helvetica;
	color: #383838;
	-moz-box-shadow: 0px 0px 10px #252525;
	-webkit-box-shadow: 0px 0px 10px #252525;
	box-shadow: 0px 0px 10px #252525;}

.user-frame-small img {
	height: 200px; width: 150px;}
.user-frame-small a {
	text-decoration: none; color: white;}


.user-information {
	float: left;
	height: 400px; width: 300px;
	margin: 10px 10px 10px 10px;
	font-family: helvetica; color: #ebebeb;
	text-shadow: 0px 1px 1px #252525, 1px 1px #383838;}
	
.user-information-head {
	float: left;	
	width: 280px;
	padding: 20px 0px 10px 0px; margin: 0px 10px 0px 10px;
	text-align: center;
	font-size: 40px; font-weight: bold;
	border-bottom: 1px solid #d3d3d3;}

.user-no-location {
	float: left;
	background-image: url(../images/location-background.png);
	height: 400px; width: 300px;
	margin: 10px 10px 10px 10px;}

.user-head {
	float: left;	
	width: 280px;
	padding: 20px 0px 10px 0px; margin: 0px 10px 0px 10px;
	text-align: center;
	font-size: 40px; font-weight: bold;
	border-bottom: 1px solid #d3d3d3;
	text-shadow: 0px 1px 1px white, 0px 0px #383838;}

.user-name {
	float: left;	
	height: 15px; width: 150px;
	padding: 5px 0px 5px 0px;
	text-align: center;
	font-size: 14px; font-weight: bold;
	text-shadow: 0px 1px 1px #252525, 1px 1px #383838;
	}

.user-content {
	float: left;	
	height: 35px; width: 280px;
	padding: 10px;
	text-align: left; font-size: 12px;
	}

/* Post */

.post-border {
	float: left;}

.post-frame-small {
	float: left;
	height: 200px; width: 150px;
	margin: 110px 85px 110px 85px;
	font-family: helvetica; color: #ebebeb;
	
	-moz-box-shadow: 0px 0px 10px #252525;
	-webkit-box-shadow: 0px 0px 10px #252525;
	box-shadow: 0px 0px 10px #252525;}

.post-frame {
	float: left;
	height: 400px; width: 300px;
	margin: 10px 10px 10px 10px;
	background-color: #f5f5f5;
	font-family: helvetica;
	color: #383838;
	-moz-box-shadow: 0px 0px 10px #252525;
	-webkit-box-shadow: 0px 0px 10px #252525;
	box-shadow: 0px 0px 10px #252525;}

.post-frame-small img {
	height: 200px; width: 150px;}
.post-frame-small a {
	text-decoration: none; color: white;}
	
.post-date {
	float: left;	
	height: 15px; width: 130px;
	padding: 10px;
	text-align: left; font-size: 12px;}
	
.post-time {
	float: left;
	height: 15px; width: 130px;
	padding: 10px;
	text-align: right; font-size: 12px;}
	
.post-head {
	float: left;	
	height: 55px; width: 280px;
	padding: 20px 0px 10px 0px; margin: 0px 10px 0px 10px;
	text-align: center;
	font-size: 40px; font-weight: bold;
	border-bottom: 1px solid #d3d3d3;
	text-shadow: 0px 1px 1px white, 0px 0px #383838;}

.post-headline {
	float: left;	
	height: 15px; width: 150px;
	padding: 5px 0px 5px 0px;
	text-align: center;
	font-size: 14px; font-weight: bold;
	text-shadow: 0px 1px 1px #252525, 1px 1px #383838;
	}

.post-user {
	float: left;	
	height: 15px; width: 150px;
	text-align: center; font-size: 11px;
	text-shadow: 0px 1px 1px #252525, 1px 1px #383838;
	}
	
.post-content {
	float: left;	
	height: 35px; width: 280px;
	padding: 10px;
	text-align: left; font-size: 12px;
	}
	
/* Post comments */
	
.comment-post {
	position: relative;
	width: 280px; height: 24px;
	padding: 10px;
	border-bottom: 1px solid #d3d3d3;
	}

.post-frame li {
	font-family: helvetica; color: #383838;
	float: left;
	width: 280px;
	margin: 0px 10px 0px 10px; padding: 10px 0px 10px 0px;
	border-bottom: 1px solid #d3d3d3;}	

.comment-image {
	float: left;
	height: 40px; width: 40px;}

.comment-user {
	float: left;
	height: 15px; width: 225px;
	text-align: left; font-size: 12px; font-weight: bold;}
	
.comment-user a {
	text-decoration: none; text-align: left;
	font-size: 12px; font-weight: bold;
	color: #383838;}
	
.comment-user a:hover {
	color: #123456;}
	
.comment-content {
	float: left;
	width: 225px;
	text-align: left; font-size: 12px;}
	
.comment-time {
	float: right; 
	margin: 10px -5px 0px 5px;}
	
.comment-text-border {
	float: left;
	width: 235px;
	padding: 0px 0px 0px 5px;}

	
