<% case params[:view] %>
	<% when "photo" %>
		<img src="../images/user/f.jpg">
	<% when "info" %>
		<div class="user-head"><%= @user.name %></div>
		<div class="user-content"><%= @user.intro %></div>
	<% when "map" %>
		<%= raw @map.div(:width => 300, :height => 400) %>
		<%= raw @map.to_html(:no_load => true) %>	
<% end %>
