<div id="content-border">
	<div class="content-divider">
		<%= render 'shared/submenu' %>
		<div class="pagination-page">Page:</div>
		<%= will_paginate @users, :prev_label => '<', :next_label => '>' %>
	</div>
<%= render 'users' %>
</div>