<div class="sub-menu-head">Posts:</div>
<div class="pagination">
	<%= link_to "Posts", user_path(:view => "user_posts") %>
</div>
<div class="sub-menu-head">Users:</div>
<div class="pagination">
	<%= link_to "Stalking", user_path(:view => "user_stalking") %>
	<%= link_to "Stalkers", user_path(:view => "user_stalkers") %>
</div>