<div class="sub-menu-head">Posts:</div>
<div class="pagination">
	<%= link_to "Posts", user_path %>
</div>
<div class="sub-menu-head">Users:</div>
<div class="pagination">
	<%= link_to "Stalking", user_path(:view => "stalking") %>
	<%= link_to "Stalkers", user_path(:view => "stalkers") %>
</div>