<div id="content-border">
	<div class="content-divider">
		<div class="sub-menu-head">Latest Posts</div>
	</div>
	<%= render 'posts/posts' %>
	</div>
	<div id="static-border">
		<div id="static-head">
			<h1>Welcome</h1>
		</div>
		<div id="static-mid">
			<div class="column-onethird">
				Mango
			</div>
			<div class="column-onethird-italic">
				Nullam felis orci, semper in consectetur non, rutrum at est. Sed justo lorem, aliquam nec accumsan eget, tempus at enim.
			</div>
			<div class="column-onethird-headline">
				Adress:
			</div>
			<div class="column-onethird">
				<p>
					Justice League <i>of</i> Sweden
				</p>
				<p>
					Rydsvägen 236A<br />
					58432 Linköping<br />
					Sweden
				</p>
				<p>
					Phone: +4672 732 1870<br />
					Mail: <a href="mailto:bla@bla.se">seba@nikki.se</a>
				</p>
			</div>
		</div>	
		<div id="static-tail">
		</div>	
	</div>
