<div id="content-border">
<div id="static-border">
	<div id="static-head">
		<h1><%= t :contact %></h1>
	</div>
	<div id="static-mid">
		<div class="column-onethird">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed viverra nunc. Integer accumsan neque in lectus interdum vulputate. Nulla vel libero eu elit placerat fringilla. Cras lobortis lacus in tellus adipiscing pretium. Fusce ligula nunc, commodo eu sagittis vel, aliquam consequat nisi. Suspendisse potenti. Etiam aliquam tempor lacinia. Ut suscipit nulla ut neque condimentum accumsan. Morbi sed ante est. <br /><br />Nulla magna est, hendrerit sed auctor interdum, gravida at velit. Suspendisse viverra vestibulum condimentum. Cras dui lectus, ullamcorper in fermentum tincidunt, pulvinar eget nunc. Praesent interdum lacus dictum diam lobortis non congue dui scelerisque. Donec imperdiet pharetra elit, ac porttitor turpis faucibus dictum. In lectus magna, gravida id accumsan eu, molestie a nibh. Sed hendrerit commodo posuere. Nulla facilisi.
		</div>
		<div class="column-onethird-italic">
			Nullam felis orci, semper in consectetur non, rutrum at est. Sed justo lorem, aliquam nec accumsan eget, tempus at enim.
		</div>
		<div class="column-onethird-headline">
			Adress:
		</div>
		<div class="column-onethird">
			<p>
				Justice League <i>of</i> Sweden
			</p>
			<p>
				Rydsvägen 236A<br />
				58432 Linköping<br />
				Sweden
			</p>
			<p>
				Phone: +4672 732 1870<br />
				Mail: <a href="mailto:bla@bla.se">seba@nikki.se</a>
			</p>
		</div>
	</div>	
	<div id="static-tail">
	</div>	
</div></div>