<div id="content-border">
	<div class="content-divider">
		<%= render 'shared/submenu' %>
		<div class="pagination-page">Page:</div>
		<%= will_paginate @posts, :prev_label => '<', :next_label => '>' %>
	</div>
<% if @posts.empty? %>
	No posts, sorry dude.
<% else %>
	<%= render 'posts' %>
<% end %>
</div>